# InfluxDB sample configuration

db_name = "evohome"
influx_host = "localhost"
influx_port = 8086
influx_user = "username"
influx_password = "password"

write_to_influx = True

# set to False to just retrieve the temperatures from evohome - useful for debugging
# write_to_influx = False
